// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$mat-light-blue: (
  50: #e1f5fe,
  100: #b3e5fc,
  200: #81d4fa,
  300: #4fc3f7,
  400: #29b6f6,
  500: #03a9f4,
  600: #039be5,
  700: #0288d1,
  800: #0277bd,
  900: #01579b,
  A100: #80d8ff,
  A200: #40c4ff,
  A400: #00b0ff,
  A700: #0091ea
);

$primary-color: map-get($mat-light-blue, 500);
$secondary-color: map-get($mat-light-blue, 300);
$tertiary-color: map-get($mat-light-blue, 50);
$background-color: lighten($tertiary-color,4%);
$text-color: map-get($mat-light-blue, 900);
$secondary-text-color: map-get($mat-light-blue, 200);

$colors: (
  primary:    $primary-color,
  secondary:  $secondary-color,
  tertiary:   $tertiary-color,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  text:       $text-color,
  light-text: mix(grey, $secondary-text-color, 30%)
);

$toolbar-text-color: $text-color;
$toolbar-ios-text-color: $text-color !default;
$toolbar-ios-title-text-color: $text-color;
$label-ios-text-color: $text-color;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-background: $background-color;
$tabs-background: $background-color;

$tabs-border-color:          $background-color;

.tabs-ios[tabsPlacement=top] .tabbar {
  border: none !important;
}

.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
  border-bottom: 0.55px solid map-get($colors, primary);
}


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
