<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons>
      <button navPop ion-button>
				Cancel
			</button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset class="no-margin" radio-group [(ngModel)]="selectedPayment" name="test">
    <ion-list-header>
      Cards
    </ion-list-header>
    <ion-item *ngIf="loading" text-center><ion-spinner></ion-spinner></ion-item>
    <ion-item *ngFor="let card of storedPaymentMethods.cards; let i = index;">
      <ion-label>
        {{card.brand}} - {{card.last4}}

      </ion-label>
      <ion-label float-right text-right>
        {{card.exp_month}}/{{card.exp_year}}
      </ion-label>
      <ion-radio [value]="card" checked></ion-radio>
    </ion-item>

    <ion-item><ion-label class="center">OR</ion-label></ion-item>
    <ion-item detail-push (click)="addPayment()">
      Add new payment method
    </ion-item>

    <button ion-button type="submit" (click)="submitOrder()" class="curved" block>Pay £{{order.subtotal}}</button>
  </ion-list>
</ion-content>
